.looks-operations-list-link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    dt {
        padding-right: 1em;
    }

    dd {
        text-transform: uppercase;
    }
}
